html {
  scroll-behavior: smooth;
}

body {
  color: #2D2D2D;
}

.full-width-bg{
    background-color: F9E6F0;
}

.animated-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
